<header>
    <div class="container">
        <img src="/images/logo.png" class="titre"></img>
    </div>

    {#    NAVBAR ///////#}
    <div class="nav-margin">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand nav-link " href="{{ url("accueil") }}">Accueil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active navbar-brand" aria-current="page" href="{{ url("casting") }}">Casting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="{{ url('artiste') }}">Artiste</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-success mx-2" type="submit" href="{{ url('login') }}">Login</a>
                        <a class="btn btn-outline-success mx-2" type="submit" href="{{ url('register') }}">Register</a>
                    </form>
                    <form method="post" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="nameSearch">
                        <button class="btn btn-outline-success" type="submit" name="recherche">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
