<header>
    <div class="container">
        <img src="/images/logo.png" class="titre"></img>
    </div>

    {#    NAVBAR ///////#}
    <div class="nav-margin">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand nav-link " href="{{ url("accueil") }}">Accueil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active navbar-brand" aria-current="page" href="{{ url("casting") }}">Casting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="{{ url('artiste') }}">Artiste</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <div class="d-flex justify-content-end">
                            {% if(is_granted("IS_AUTHENTICATED_FULLY")) %}
                                <a type="" class="mt-3" style="margin-right: 20px; text-decoration: none; color: black"
                                   href="{{ url('profil') }}">{{ app.user.login }}

                                </a>
                                <a type="button" class="btn btn-outline-primary mt-2" style="margin-right: 20px;"
                                   href="{{ url('app_logout') }}">Déconnexion
                                </a>
                            {% else %}
                                <a type="button" class="btn btn-outline-primary mt-2" style="margin-right: 20px"
                                   href="{{ url('login') }}">Se connecter
                                </a>
                                <a type="button" class="btn btn-outline-primary mt-2" style="margin-right: 20px;"
                                   href="{{ url('register') }}">S'inscrire
                                </a>
                            {% endif %}

                        </div>
                    </form>
                    <form method="post" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="nameSearch">
                        <button class="btn btn-outline-success" type="submit" name="recherche">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
